[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[packages]
requests = "*"
python-telegram-bot = "*"
redis = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
