[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[packages]
requests = "==2.23.0"
python-telegram-bot = "==13.12"
redis = "==3.5.2"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
